################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Room3d/FileContentIndex/7f096675-264b-41f8-b66f-4f4fadbd1acf.vsidx
*.vsidx
